.chat-main 
  .main-header
    .main-header__group
      test
      .main-header__group__member
        Member:masa
    .main-header__edit
      =link_to "#" do
        Edit
  .messages
    =render @messages
     
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__new', placeholder: 'type a message' 
      .input-text
        = f.label :image, class: 'input-text__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class:'input-text__image__file'
      = f.submit 'Send', class: 'form__submit'