.side-bar
  .side-header
    .side-header__items
      = current_user.name
        
      %ul.side-header__items__menu
        =link_to new_group_path do
          = icon('far', 'edit', class: 'icon')
        =link_to edit_user_path(current_user.id)do
          = icon('fas', 'cog', class: 'icon')

  .groups
    - current_user.groups.each do |group|
      .groups__list
        = link_to '#' do
          .groups__list__title
            = group.name
          .groups__list__comment
            まだメッセージはありません
    